<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find MSTC_Star_update)/world/empty.world" respawn="false" output="screen" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find MSTC_Star_update)/map/map.yaml" >
    <param name="frame_id" value="map" />
  </node>

  <!-- include our robots -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find MSTC_Star_update)/turtlebot3_description/urdf/turtlebot3_burger.urdf.xacro" />

  <group ns="robot1">
  <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find MSTC_Star_update)/launch/one_robot.launch">
      <arg name="init_pose" value="-x 0.25 -y 0.25 -z 0 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="Robot1" />
    </include>

  </group>

  <!-- <include file="$(find MSTC_Star_update)/launch/gmapping.launch">
      <arg name="scan_topic"  value="robot1/scan" /> 
      <arg name="base_frame"  value="robot1_tf/base_footprint"/>
      <arg name="odom_frame"  value="robot1_tf/odom"/>
  </include> -->

  <!-- <include file="$(find MSTC_Star_update)/launch/explore_costmap.launch" /> -->

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 robot1_tf/map map 10" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 robot1_tf/odom robot1_tf/base_footprint 10" />

  <!-- <include file="$(find MSTC_Star_update)/launch/amcl_robot1.launch" >
    <arg name="initial_pose_x"  value="2.5"/>
    <arg name="initial_pose_y"  value="1.5"/>
    <arg name="initial_pose_a"  value="0.0"/>
  </include> -->


  <include file="$(find MSTC_Star_update)/launch/move_base_1.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find MSTC_Star_update)/rviz/navigate.rviz" />

  <!-- <include file="$(find MSTC_Star_update)/launch/explore_costmap.launch" /> -->

</launch>